<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>{{concatenado}}</h1>
   
    
   
   
    <button (click)="heroes"+sumar>NewHeroe</button>
    <span>{{heroes}}</span>
    <button (click)="heroes"-restar>OldHeroe</button>

    <button (click)="heroes"+edadsumar>NewHeroe</button>
    <span>{{edad}}</span>
    <button (click)="heroes"-edadrestar>OldHeroe</button>
</body>
</html>